In [1]:
from models.database import init_db

In [2]:
init_db()

In [9]:
import pandas as pd
import sqlite3

In [10]:
con = sqlite3.connect("models/impression.db")
cursor = con.cursor()

In [11]:
cursor.execute("SELECT * FROM impressioncontents")

In [12]:
results = cursor.fetchall()

In [13]:
df = pd.read_sql_query("SELECT * FROM impressioncontents", con)

In [14]:
df

,id,name,reference1,reference2,target,impression,date
0,1,saito,/templates/colors/green.png,/templates/colors/yellowred.png,/templates/Image/sample_target/09325.jpg,25.0,2021-09-02 12:22:39.269151
1,2,saito,/templates/colors/yellowred.png,/templates/colors/purple.png,/templates/Image/sample_target/sketch_167_0001...,22.0,2021-09-02 12:22:43.961787
2,3,saito,/templates/colors/purple.png,/templates/colors/yellow.png,/templates/Image/sample_target/01898.jpg,-22.0,2021-09-02 12:22:48.098638
3,4,saito,/templates/colors/blue.png,/templates/colors/white.png,/templates/Image/sample_target/sketch_252_0003...,14.0,2021-09-02 12:22:52.058311
4,5,saito,/templates/colors/yellowred.png,/templates/colors/bluepurple.png,/templates/Image/sample_target/sketch_311_0000...,-19.0,2021-09-02 12:22:55.844220